Session.vim
# Created by https://www.toptal.com/developers/gitignore/api/fish
# Edit at https://www.toptal.com/developers/gitignore?templates=fish
### Fish ###
fishd.*
fish_history
fish_variables
config.local.fish
# End of https://www.toptal.com/developers/gitignore/api/fish
# Nix
/.pre-commit-config.yaml
/.direnv/
